.panier{
    background: #ddd;
    min-height: 100vh;
    vertical-align: middle;
    display: flex;
    font-family: sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}
.panier .title{
    margin-bottom: 5vh;
}
.panier .card{
    margin: auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    border: transparent;
    margin-top: 40px;
}
@media(max-width:767px){
    .panier   .card{
        margin: 3vh auto;
    }
}
.panier .cart{
    background-color: #fff;
    padding: 4vh 5vh;
    border-bottom-left-radius: 1rem;
    border-top-left-radius: 1rem;
}
@media(max-width:767px){
    .panier  .cart{
        padding: 4vh;
        border-bottom-left-radius: unset;
        border-top-right-radius: 1rem;
    }
}
.panier .summary{
    background-color: #ddd;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    padding: 4vh;
    color: rgb(65, 65, 65);
}
@media(max-width:767px){
    .panier   .summary{
    border-top-right-radius: unset;
    border-bottom-left-radius: 1rem;
    }
}
.panier .summary .col-2{
    padding: 0;
}
.panier .summary .col-10
{
    padding: 0;
}.panier .row{
    margin: 0;
}
.panier .title b{
    font-size: 1.5rem;
}
.panier .main{
    margin: 0;
    padding: 2vh 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    align-items: center;
    text-align: center;
}
.panier .col-2, .col{
    padding: 0 1vh;
}
.panier a{
    padding: 0 1vh;
}
.panier .close{
    margin-left: auto;
    font-size: 0.7rem;
}
.panier img{
    width: 7.5rem;
}
.panier .back-to-shop{
    margin-top: 4.5rem;
}
.panier h5{
    margin-top: 4vh;
}
.panier hr{
    margin-top: 1.25rem;
}
.panier form{
    padding: 2vh 0;
}
.panier select{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1.5vh 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.panier input{
    border: 1px solid rgba(0, 0, 0, 0.137);
    padding: 1vh;
    margin-bottom: 4vh;
    outline: none;
    width: 100%;
    background-color: rgb(247, 247, 247);
}
.panier input:focus::-webkit-input-placeholder
{
      color:transparent;
}
.panier .btn{
    background-color: #000;
    border-color: #000;
    color: white;
    width: 100%;
    font-size: 0.7rem;
    margin-top: 4vh;
    padding: 1vh;
    border-radius: 0;
}
.panier .btn:focus{
    box-shadow: none;
    outline: none;
    box-shadow: none;
    color: white;
    -webkit-box-shadow: none;
    -webkit-user-select: none;
    transition: none; 
}
.panier .btn:hover{
    color: white;
}
.panier a{
    color: black; 
}
.panier a:hover{
    color: black;
    text-decoration: none;
}
.panier #code{
    background-image: linear-gradient(to left, rgba(255, 255, 255, 0.253) , rgba(255, 255, 255, 0.185)), url("https://img.icons8.com/small/16/000000/long-arrow-right.png");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: center;
}

.panier h5{
    font-weight: bolder;

}